

body {
    text-align: center;
    color: #25282B
    background: #e5e5e5;
}

button {
    color: #FF5E84;
    border: none;

    font-weight: bold;
}

.fat {
    color: #fff;

    background: #FF5E84;
}

img, #footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.hide {
    display: none;
}
